body{
    background-image: url("../images/bg.jpg");
}

.main-edit-div{

}


.main-edit-title-div{
    height:60px;
    line-height: 60px;
    vertical-align: middle;
    width:100%;
    margin-top:60px;
}
.main-edit-title-div p{
    font-size: 24px;
    padding:0;
    margin:0;
    display: block;
    height:60px;
    line-height: 60px;
    vertical-align: top;
    text-align: center;
    width:100%;
    color:white;
    font-weight:bold;
}
div.main-edit-sub-div{
    display: block;
    padding:6px;
    line-height: 32px;
    vertical-align: middle;
    margin:0 auto 20px auto;
}

div.main-edit-sub-div>input{
    height:32px;
    font-size: 16px;
    width:100%;
    border:0;
    border-bottom: 1px solid white;
    line-height: 32px;
    vertical-align: middle;
    color:white;
    transition: all 0.25s ease-in-out;
}
div.main-edit-sub-div>p{
    display: inline;
    height:32px;
    font-size: 16px;
    border:0;
    color:white;
}

.main-edit-body-div{
    width:60%;
    max-width: 500px;
    margin:0 auto;
    border-radius: 4px;
}
.form_text_onblur{
    background-color: transparent;
}
.form_text_onfocus{
    background-color: rgb(1,165,250);
}

.textarea-normal{
    /*position: relative;*/
    font-size: 16px;
    width: 100%;
    /*padding: .5em .6em;*/
    line-height: 1.4;
    /*00-webkit-appearance: none;*/
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 5px;
    height:300px;
    transition: all 0.25s ease-in-out;
}
.main-edit-button{
    width:50%;
    height:32px;
    border:0;
    border-radius: 20px;
    margin:0 auto;
    display: block;
    background: linear-gradient(90deg,#1a7dc5 0,#4ec4ce),linear-gradient(90deg,#1a7dc5 0,#4ec4ce);
    color:white;
    transition: all 0.25s ease-in-out;
}/*
.main-edit-button:hover{
    background: linear-gradient(90deg,#4ec4ce 0,#1a7dc5),linear-gradient(90deg,#4ec4ce  0,#1a7dc5);
}*/